@keyframes slideinleft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  animation: slideinleft 1s ease-in 1s forwards;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 8%;
}

p {
  padding-top: 5%;
  font-size: 18px;
  line-height: 1.6;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea {
  min-height: 250px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
